.searchBarContainer {
    position: relative;
    display: flex;
    height: 8vh;
    width: 110%;
    margin: 0 auto 0 -5%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 150ms ease;
}

.searchBarContainer:hover {
    background-color: #32732544;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 4%;
    font-size: 1.125rem;
    outline: none;
    border-radius: 10px;
}

.searchButton {
    position: absolute;
    right: 1%;
    width: 10%;
    height: 8vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.searchIcon {
    max-width: 100%;
}