/* General Container */

.postVotesContainer {
    display: flex;
    border-radius: 10px;
    transition: all 250ms ease;
}

.postVotesContainer:hover {
    background-color: #edf2ec5d;
}

/* Votes */

.votesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 5%;
    padding: 2%;
}

.votesButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.votesButton:hover {
    background: #00000017;
}

.upVote:hover {
    color: #45b81f !important;
}

.upVote:active {
    color: #45b81f !important;
}

.downVote:hover {
    color: #ff304f !important;
}

.downVote:active {
    color: #ff304f !important;
}

.votes {
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.upVoteClick {
    color: #45b81f !important;
}

.downVoteClick {
    color: #ff304f !important;
}

/* Post */

.postContainer {
    width: 95%;
}

.postArticle {
    width: 100%;
    border-radius: 10px;
    padding: 1% 2%;
}

/* Post Header */

.postHeader {
    text-align: left;
}

.subRedditSource {
    font-size: 0.75rem;
    font-weight: 500;
}

.postTitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: -0.9%;
}

/* Post Main */

.postText {
    text-align: left;
    color: rgb(80, 80, 80);
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125rem;
}

.postImage {
    max-width: 100%;
    border-radius: 10px;
}

/* Gallery Content */

.galleryContainer {
    text-align: center;
}

.galleryImage {
    margin: 0 auto;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postAuthor {
    color: #327325;
    font-weight: 800;
}

.commentsButton {
    border: none;
    width: 10%;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: all 100ms linear;
}

.commentsIcon {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 1% 0;
}
