.SubRedditsContainer {
    width: 18vw;
    background-color: #edf2ec;
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #00000050;
}

.communitiesTitle {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;
    margin-left: 3%;
}

.separationLine {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 5%;
}

.subRedditList {
    padding: 0;
    margin: 0;
}

.subRedditListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 5% 0;
    border-radius: 10px;
    padding: 2%;
    transition: all 250ms ease;
}

.subRedditListItem:hover {
    cursor: pointer;
    background-color: #aed6a6;
}

.subRedditListItem:first-child {
    margin: 0;
}

.subRedditItemTitle {
    display: inline;
    font-size: 0.9rem;
    font-weight: 600;
}

.subRedditItemIcon {
    max-width: 10%;
    border-radius: 50px;
    margin-right: 5%;
}