.App {
  text-align: center;
}

/* Header */

.AppHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0.6%;
  background-color: #edf2ec;
  box-shadow: 1px 2px 5px #00000050;
}

.AppLogoLink {
  height: fit-content;
  width: fit-content;
  text-align: center;
}

.AppLogo {
  max-width: 30%;
  height: fit-content;
  display: block;
  margin: 0 auto;
}

/* Main */

.AppMain {
  padding: 1vw 1vw;
}